MuleExamples/RESTFulServices_ThreeApproaches/src/main/app/webservices.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:jersey="http://www.mulesoft.org/schema/mule/jersey" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.6.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/jersey http://www.mulesoft.org/schema/mule/jersey/current/mule-jersey.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="9004" doc:name="HTTP Listener Configuration"/>
    <data-mapper:config name="Pojo_To_XML" transformationGraphPath="pojo_to_xml.grf" doc:name="Pojo_To_XML"/>
    <http:request-config name="HTTP_Request_Rest" host="localhost" port="9004" basePath="/rest" doc:name="HTTP Request Configuration"/>
    <data-mapper:config name="XML_To_Pojo" transformationGraphPath="xml_to_pojo.grf" doc:name="XML_To_Pojo"/>
    <flow name="SOAPServiceFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/soap" doc:name="HTTP"/>
        <logger message="SOAP Request received #[payload]" level="INFO" doc:name="Logger"/>
        <cxf:jaxws-service serviceClass="org.vijay.services.checkoutservice.soap.CheckoutServiceImpl" doc:name="CXF"/>
        <component class="org.vijay.services.checkoutservice.soap.CheckoutServiceImpl" doc:name="Java">
        	<binding interface="org.vijay.services.checkoutservice.rest.CheckoutServiceREST" method="addProduct">
        		<vm:outbound-endpoint exchange-pattern="request-response"
						path="addProduct" />
        	</binding>
        </component>
    </flow>
    <flow name="JerseyServiceFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/rest/*" doc:name="HTTP"/>
        <logger message="REST Request received." level="INFO" doc:name="Logger"/>
        <jersey:resources doc:name="REST">
            <component class="org.vijay.services.checkoutservice.rest.CheckoutServicesRESTImpl">
            </component>
        </jersey:resources>
    </flow>
    <flow name="AddProductFlow">
		<vm:inbound-endpoint exchange-pattern="request-response"
			path="addProduct" doc:name="VM" />
		<logger message="Received request in AddProduct subflow. #[payload]" level="INFO"
			doc:name="Logger" />
        <data-mapper:transform config-ref="Pojo_To_XML" doc:name="Pojo To XML"/>
        <logger message="#[new String(payload)]" level="INFO" doc:name="Logger"/>
        <http:request config-ref="HTTP_Request_Rest" path="/addProduct" method="POST" doc:name="HTTP">
            <http:request-builder>
                <http:query-param paramName="Content-Type" value="application/xml"/>
            </http:request-builder>
        </http:request>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <logger message="Response Payload: #[payload]" level="INFO" doc:name="Logger"/>
        <data-mapper:transform config-ref="XML_To_Pojo" doc:name="XML To Pojo"/>
        <logger message="Payload after HTTP Request: #[payload]" level="INFO" doc:name="Logger"/>
        <!-- <expression-component doc:name="Expression">
        	org.vijay.services.rest.AddProductResponse response = new org.vijay.services.rest.AddProductResponse();
        	response.setSessionId('dummy id');
        	payload = response;
        </expression-component> -->

		
	</flow>
</mule>
